nav {
    width: 100vw;
    /*min-height: 1rem;*/
    height: 3rem;
    background-color: #8bc34a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}


nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 95%;
    background-color: #111;
    margin: 2px;
}

nav a:hover {
    background-color: #333;
}

.navLink {
    text-decoration: none;
    color: white;
}

.active {
    color: #8bc34a;
}

body {
    margin: 0;
    padding: 0;
}